doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Silica Gel by | skyNet

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 Silica Sel dan fungsi uniknya
        h3 Disusun oleh <a href="#">skyNet</a>

      section
        h2#title Terdapat dua jenis Silica Gel dibagi dari cara pembuatannya
        ul
          li
          <br>
          li 
            h3 Silica Gel Sintetis.
            p#des Silica Gel Sintetis, dibuat dengan melalui proses dan pengolahan menggunakan mesin yang mana terdapat perubahan bentuk dan jenis dari bahan menjadi barang jadi
          <br>
          li
            h3 Silica Gel Natural.
            p#des Silica Gel Natural Merupakan silica gel berbahan alami/natural yaitu batu zeolite hasil tambang yang diolah melalui proses aktivasi dan screening.

      section
        h2 Manfaat Utama Silica Gel
        ul
          li
          li 
            p#des Silica gel mencegah terbentuknya kelembapan yang berlebihan sebelum terjadi.
          li 
            p#des Produk anti lembap ini menyerap lembap tanpa merubah kondisi zatnya.
          li 
            p#des Silica Gel selain berfungsi untuk absorbsi kelembaban udara, fungi-jamuran dan bau-bauan serta ion-ion lainnya dan untuk menjaga kualitas produk terutama untuk barang-barang yang dieksport.

      section
        h2 Manfaat yang jarang diketahui pada sillica gel

      section
        ul
          #float
            li#num
              h2 1
            li
              p#item Agar Bibit tanaman atau biji-bijian yang disimpan tidak berkecambah, selipkan saja silica gel didalamnya.
          #float
            <img src="Img/1.jpg"/>
          

      section
        ul
          #float
            li#num
              h2 2
            li
              p#item Tidak perlu lagi khawatir alat-alat otomotif, listrik dan pertukangan menjadi cepat karatan. Sertakan saja silica gel dalam kotak penyimpanan.
          #float
            <img src="Img/2.jpg"/>
        

      section
        ul
          #float
            li#num
              h2 3
            li
              p#item Dengan menyelipkan silica gel yang harganya murah, koleksi buku tua dan langka bisa terhindar dari kerusakan dan jamur.
          #float
          <img src="Img/3.jpg"/>
          
      section#fth
        ul
          #float
            li#num
              h2 4
            li
              p#item Pengawetan Bugan dengan menggunakan silica gel.
          #float
            <img src="Img/0001.jpg"/>
       
      section
        ul
          #float
            li#num
              h2 5
            li
             p#item Menghilangkan bercak jamur yang ada pada handuk.
          #float
            <img src="Img/5.jpg"/>
      
      section
        ul
          #float
            li#num
              h2 6
            li
               p#item Agar stok makanan anjing dan kucing tetap lezat sampai kapan saja, jangan lupa sisipi silica gel di kantongnya.
          #float
            <img src="Img/6.jpg"/>
      
      section
        ul
          #float
            li#num
              h2 7
            li
              p#item  Bau dan bekas keringat pada sepatu dan peralatan olahraga dapat diatasi juga dengan menggunakan silica gel.
          #float
            <img src="Img/7.jpg"/>

      section
        ul
          #float
            li#num
              h2 8
            li
              p#item  Cara mudah agar album foto kenangan tetap terjaga sampai tua adalah menyelipkan silica gel di dalamnya.
          #float
            <img src="Img/8.jpg"/>
      
      section
        ul
          #float
            li#num
              h2 9
            li
              p#item  Kondisi lembab pada lensa kamera sering kali mengganggu hasil dari pengguanaan kamera. Agar hal ini tak terjadi, antisipasi dengan silica gel mini.
          #float
            <img src="Img/9.jpg"/>

      section
        ul
          #float
            li#num
              h2 10
            li
              p#item  Merawat alat makeup itu tidak perlu mahal, gunakan saja silica gel sebagai antisipasi agar tidak jamuran.
          #float
            <img src="Img/10.png"/>

      section
            h2  FIN.

    script(src='build/build.js') //baris ini jangan dihapus