doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Sillica Gel | by skyNet

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 Manfaat yang jarang diketahui pada sillica gel

      section
        h2 Agar Bibit tanaman atau biji-bijian yang kita simpan tak berkecambah, selipkan saja silica gel didalamnya.
        h3 Kita sering sebal ketika bibit atau biji yang kita jadikan sebagai hiasan atau hanya sebagai simpanan untuk penelitian tiba-tiba berkecambah dan tumbuh calon batang? Hal ini terjadi karena kelembaban tinggi atau banyaknya kandungan air di sekitar biji. Jadi,sekarang kamu bisa mengatasinya dengan cara mudah. Selipkan saja bungkusan silica gel di dalamnya. Silica gel ini akan menyerap air dalam atmosfer sehingga kelembaban di sekitar biji berkurang. Jadi tidak heran, kondisi jadi makin kering lantas bijimu bisa lebih tahan lama tanpa takut berkecambah.

      section
        h2 Tidak perlu lagi khawatir alat-alat otomotif, listrik dan pertukangan menjadi cepat karatan. Sertakan saja silica gel dalam kotak penyimpanan.
        h3 Jika kamu penggemar otomotif? Atau suka otak-atik listrik? Atau gemar memperbaiki bangunan rumah? Pasti kamu punya seperangkat alat-alat tukang seperti obeng, tang, bor, gergaji yang sebagian besar berbahan besi. Nah agar alat-alat ini lebih awet, sertakan beberapa bungkus silica gel di dalam kotak penyimpanan. Silica gel mampu menyerap air dan mengurangi kelembaban. Hal ini menguntungkan karena bisa bikin alat-alatmu terhindar dari proses oksidasi yang bikin karatan. Jadi, barangmu tak cepat rusak dan tetap berfungsi optimal tanpa takut berkarat.

      section
        h2 Dengan menyelipkan silica gel yang harganya murah, koleksi buku tua nan langkamu bisa terhindar dari kerusakan dan jamur
        h3 Punya buku langka adalah keberuntungan bagi kamu para pecinta buku. Meski buku terlihat tua dan lusuh, kamu tetap merasa senang memilikinya. Alih-alih menyimpannya bertahun-tahun, hal ini justru bikin bukumu cepat jamuran. Agar koleksimu itu tak cepat rusak, kamu harus menjaganya dengan perawatan khusus.

Caranya mudah kok, taruh saja satu bungkus silica gel sekitar tumpukan buku atau di dalam lemari penyimpanan. Dengan begitu, jamur yang sering tumbuh karena kelembaban tinggi menjadi urung diri. Jadi bukumu lebih awet, tak lusuh, tak mudah sobek, dan yang jelas terhindar dari jamuran yang bikin koleksi buku tuamu cepat rusak. Selain itu, aroma buku tua yang kadang lembap juga tak lagi terlalu menyengat.
		
      section
        h2 Bunga pemberian dari orang tercinta jangan dibiarkan layu dan hancur begitu saja. Awetkanlah dengan silica gel yang mudah didapat.
        h3 Bunga adalah salah satu tanda cinta yang biasa digunakan banyak orang. Gak jarang kamu akan mendapatkannya dari orang tercinta. Jika biasanya kamu akan membuang begitu saja saat sudah layu, sekarang kamu bisa mengawetkannya agar cinta kalian tetap terjaga. Caranya mudah kok. Pertama-tama masukkanlah silica gel pada wadah besar. Lalu masukkan bunga dan timbun secara merata agar silica gel bisa masuk ke sela-sela permukaan bunga. Lakukan dengan perlahan. Dan jangan lupa pilih silica gel yang halus ya.

Tutup rapat dan simpan di tempat yang sejuk selama 3-5 hari. Nah, setelah itu kamu bisa menata bunga keringmu di vas. Dengan cara ini, dijamin keindahan bunga tak lagi mudah pudar.
       
	section
        h2 Kamu sering kesal karena handukmu bercak jamur saat disimpan? Tenang, gunakan saja silica gel sebagai penangkalnya.
	h3 Siapa sih yang gak kesal saat menyimpan handuk di lemari tapi malah tiba-tiba jamuran dan bau tak sedap? Sekarang kamu bisa menangkalnya dengan silica gel. Taruh saja dua bungkus silica gel di dalam lemari handuk. Nah, jika warna silica gel sudah berubah, kamu bisa menggantinya dengan yang baru. Dengan menerapkan tips ini, handukmu bisa lebih nyaman saat dipakai lagi.
		
	section
        h2 Agar stok makanan anjing dan kucing kesayanganmu tetap lezat sampai kapan saja, jangan lupa sisipi silica gel di kantongnya ya.
	h3 Rasa sayang pada binatang bisa ditunjukkan dengan memberikannya makanan yang lezat dan enak. Makanan untuk hewanmu bisa tetap lezat dan enak jika kamu menyimpannya dengan cara yang benar. Metodenya praktis dan gampang kok, sisipi saja dua kemasan kecil silica gel di dalam kardus makanan hewanmu. Bungkus silica gelnya dengan kertas supaya terlihat ketika kamu menuangkannya ke dalam mangkok. Dengan begitu, silica gel itu tak akan termakan oleh hewan peliharaanmu. Pilih kemasan yang berukuran agak besar juga ya, agar mudah dipisahkan saat ditaruh di piring.

Silica gel membuat kantong makanan tak lagi terlalu lembab dan makanan bisa tetap renyah. Tenang, zat ini tak akan mempengaruhi rasa makanan kok.
		
	section
        h2  Bau dan bekas keringat pada sepatu dan peralatan olahraga seringkali bikin uring-uringan. Agar itu tak terulang, kamu bisa percayakan pada silica gel yang murah meriah.
	h3 Jika kamu suka olahraga atau nge-gym, gak jarang kamu punya kantong khusus buat menyimpan sepatu, kaos kaki, baju, sabun, dan handuk. Nah, karena tak langsung dijemur atau dicuci, barang-barangmu ini kerapkali jadi jamuran dan bau tak sedap. Sekarang, kamu bisa percayakan hal ini pada silica gel yang murah.

Masukkan saja beberapa bungkus kecil silica gel ke dalamnya, dengan begitu kandungan air bekas keringat akan terserap. Jadi kondisi terlalu lembab gak lagi mengancam, alat-alat olahragamupun jadi tetap nyaman saat digunakan.
		
	section
        h2  Cara mudah agar album foto kenangan tetap terjaga sampai kamu tua adalah menyelipkan silica gel di dalamnya. murah meriah.
	h3 Tak hanya menyimpan foto dalam bentuk file data saja, kamu juga harus menyimpannya dalam album foto agar tak hilang karena virus. Namun, banyak orang mengalami masalah foto cetak yang mudah rusak saat disimpan dalam album kenangan. Agar hal ini tak terulang, kamu bisa gunakan silica gel sebagai senjatanya.

Kamu bisa selipkan bungkusan silica gel di setiap halaman. Atau pilihlah silica gel yang berukuran kecil, lalu masukkan ke dalam plastik foto. Silica gel ini ampuh dalam menyerap uap air dalam album foto. Jadi kondisi kering tercipta, dan foto kenangan makin awet dan bebas jamuran. Gak heran, anak cucumu nanti masih bisa menyaksikannya dengan jelas.
	
	section
        h2  Kondisi lembab pada lensa kamera sering bikin jepretan gak bagus lagi. Agar hal ini tak terjadi, antisipasi dengan silica gel mini.
	h3 Kondisi lembab pada tas seringkali bikin lensa kamera menjadi buram, bahkan gak jarang lensa kameramu sampai berair. Nah, untuk mengatasinya kamu bisa letakkan beberapa bungkus silica gel di dalam tas kamera. Silica gel ini bisa menyerap air yang terkandung di ruangan tas. Jadi kondisi kering tak akan bikin lensa kamera buram lagi. Selain itu, kamera kesayangamu juga terhindar dari jamuran. Sayang ‘kan kamera mahal-mahal tapi rusak hanya karena penanganan yang tidak pas?
	
	section
        h2  Merawat alat makeup itu tidak perlu mahal kok, gunakan saja silica gel sebagai antisipasi biar gak jamuran.
	h3 Merawat alat makeup itu gak susah kok. Kamu bisa mengandalkan silica gel sebagai pelindung. Masukkan saja beberapa bungkus silica gel ke dalam tas make up. Dengan begitu alat makeup bisa terhindar dari sjamur dan bau tak sedap. Jadi penampilan bisa tetap menawan tanpa halangan.
	
	section
        h2 Apa itu Silica Gel ?
	h3 Silica gel umumnya berbentuk bubuk atau butiran seperti manik-manik yang sering digunakan untuk menyerap kelembaban pada produk makanan atau barang-barang lain dimana kelembaban berlebih akan merusak kualitas produk.
	