body
    background: url(../Img/picjumbo.com_IMG_5992.jpg) no-repeat;
    background-size: cover;

article
	background: rgba(0,0,0,0.5);

@font-face
	src url(../font/Ubuntu/Ubuntu-Light.ttf)
	font-family ubuntu

.bespoke-slide
    background transparent
    color white
    width: w = 100%
    left: 0
    margin-left:0


#fth
	background: rgba(0,0,0,0.4)

.bespoke-slide h3
    color: cornflowerblue;

#des
	color: #efefef;

#num h2
	font-size: 62px;
	color: crimson;

p
	font-family ubuntu
 	text-align: center
 	margin: 0;

#item
	width: 360px;
	font-size 24px;
	line-height: 32px;	

.bespoke-slide h3 a,.bespoke-slide li a
    color: crimson;

.bespoke-slide li a:hover
    text-decoration: underline;
h2
    text-transform: Capitalize;

#float
	float: left

img
	width: h = 300px